aclogin==0.2.1
appdirs==1.4.4
attrs==25.3.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
colorlog==6.9.0
idna==3.10
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lxml==6.0.0
online-judge-api-client==10.10.1
online-judge-tools==11.5.1
referencing==0.36.2
requests==2.32.4
rpds-py==0.26.0
setuptools==80.9.0
soupsieve==2.7
toml==0.10.2
typing_extensions==4.14.1
urllib3==2.5.0
